/* Quizboard */
.quizboard {
  display: flex;
  flex-direction: column;
}

/* Question Component */
.question {
  color: #ffa500;
  /* color: white; */
  font-size: 95px;
  padding: 10px 70px 40px 70px;
}

/* Answer  Component*/
.answer {
  display: flex;
  justify-content: center;
  text-align: center !important;
  flex-wrap: wrap;
}
/* Answer Char */
.char {
  /* border: 4px solid #ffa500; */
  border: 6px double white;
  padding: 10px;
  margin: 5px;
  background-color: black;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  min-width: 70px;
  text-align: center;
}

.spaceCharacter {
  border: none;
  padding: 5px;
  margin: 10px;
  background-color: black;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  min-width: 15px;
  text-align: center;
}

.cover-char {
  color: black;
}

.uncover-char {
  /* color: #ffa500; */
  color: white;
}
